[submodule "tu2bo-authserver"]
	path = tu2bo-authserver
	url = git@github.com:NachoRaik/tu2bo-authserver.git
[submodule "tu2bo-mobileapp"]
	path = tu2bo-mobileapp
	url = git@github.com:NachoRaik/tu2bo-mobileapp.git
[submodule "tu2bo-media-srv"]
	path = tu2bo-media-srv
	url = git@github.com:NachoRaik/tu2bo-media-srv.git
[submodule "tu2bo-appserver"]
	path = tu2bo-appserver
	url = git@github.com:NachoRaik/tu2bo-appserver.git
[submodule "tu2bo-web-interface"]
	path = tu2bo-web
	url = git@github.com:chortas/tu2bo-web-interface.git
[submodule "tu2bo-notificationserver"]
	path = tu2bo-notificationserver
	url = git@github.com:olifer97/tu2bo-notificationserver.git
